.git
.run
**/node_modules
**/vendor
**/.env
**/.env.*
!**/.env.example
**/*.sqlite
**/*.sqlite-*
**/*.log
**/.phpunit*
backend/bootstrap/cache/*.php
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/public/build
frontend/dist
frontend/test-results
frontend/playwright-report
package-lock.json
!frontend/package-lock.json
